.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.productDetails {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.productImage {
    flex: 1;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productName {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.productPrice {
    font-size: 1.5rem;
    color: #ff6600;
    margin-bottom: 20px;
}

.addToCartButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToCartButton:hover {
    background-color: #0056b3;
}

.description {
    margin-bottom: 30px;
}

.description h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}


.deleteProduct,
.editProduct {
    width: 100%;

    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

.deleteProduct {
    background-color: #e74c3c;
    color: white;
    border: none;
}

.deleteProduct:hover {
    background-color: #c0392b;
}

.editProduct {
    background-color: #3498db;
    color: white;
    border: none;
}

.editProduct:hover {
    background-color: #2980b9;
}